.product-item {
    display: flex;
    flex-direction: column;
    color: #8080d2;
    border-radius: 10px;
    border: 3px solid;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1);
    // flex-grow: 1;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    width: 100px;

    &:hover {
        transform: scale(1.05);
    }

    article {
        padding: 20px;
        width: 175px;
        font-size: 15px;
        text-align: center;
    }

    img {
        width: 100%;
    }

    h1 {
        padding-top: 20px;
    }

    strong {
        padding: 20px 0;
        text-align: center;
    }
}
