.modal-wrapper {
    position: fixed;
    top: -1000px;
    left: 200px;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;

    &.active {
        top: 13px;
        transition: 0.6s;
        opacity: 1;
    }
}
