.orders-container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  h2 {
    text-align: center;
  }
  div {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  table,
  tr,
  th,
  td {
    padding: 20px;
    border-collapse: collapse;
    border: 2px solid var(--color-1);
    color: var(--color-1);
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
