:root {
  --color-1: #272983;
  // --color-1: #8080d2;
  --color-2: #3336;
  // --color-2: #3336;
  --color-3: #9273db88;
  // --color-3: #8080d288;
  --color-4: #fff;
  // --color-4: #fff;
  --color-5: #b64f4f;
  // --color-5: #b64f4f;
  --color-6: #9fd894;
  // --color-6: #4d963f;
  --color-7: #007bff;
  // --color-7: #423535c0;
  --color-8: #27298388;
  // --color-8: #8080d288;
  --color-9: #11257c;
  // --color-9: #4d963f;
  --color-10: #333;
}
