@import "./styles/variables.scss";

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: $secondary-color;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: $secondary-color;
}

strong {
  display: block;
  color: $black-color;
}

em {
  color: $secondary-color;
  font-weight: 600;
}

h1 {
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 75px;
  border-radius: 15px;
  max-width: 410px;
  box-sizing: border-box;
  background-color: $primary-color;
  box-shadow: 0px 0 32px $black-color;

  h1 {
    color: $white-color;
    text-align: center;
    margin: 0 0 35px;
  }

  select,
  input {
    margin: 10px 0 35px;
  }
}
button.filter {
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid $secondary-color;
  font-weight: 600;
  color: $secondary-color;
  border-radius: 15px;
  vertical-align: top;
  line-height: 20px;
  transition: 0.4s;

  &:hover {
    color: $white-color;
    background-color: $secondary-color;
  }
}

.delete-button {
  font-size: 20px;
  background: $red-color;

  &:hover {
    color: $red-color;
    border-color: $red-color;
  }
}
a.edit-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: normal;
  text-decoration: none;
  color: $white-color;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid transparent;
  transition: 0.4s;
  text-align: center;

  &:hover {
    text-decoration: none;
    background: $white-color;
    border: 2px solid;
  }
}
.edit-button {
  background: $secondary-color;
  color: $white-color;

  &:hover {
    color: $secondary-color;
    border-color: $secondary-color;
  }
}
