body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
	color: #8080d2;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	color: #8080d2;
}

strong {
	display: block;
	color: #3336;
}

em {
	color: #8080d288;
	font-weight: 600;
}

h1 {
	font-size: 20px;
}

form {
	display: flex;
	flex-direction: column;
	border: 2px solid #8080d2;
	padding: 75px;
	border-radius: 15px;
	max-width: 410px;
	box-sizing: border-box;

	h1 {
		color: #8080d2;
		text-align: center;
		margin: 0 0 35px;
	}

	select,
	input {
		margin: 10px 0 35px;
	}
}
button.filter {
	border: none;
	outline: none;
	background: transparent;
	border: 2px solid #8080d2;
	font-weight: 600;
	color: #8080d2;
	border-radius: 15px;
	vertical-align: top;
	line-height: 20px;
	transition: 0.4s;

	&:hover {
		color: #fff;
		background-color: #8080d2;
	}
}

.delete-button {
	font-size: 20px;
	background: #b64f4f;

	&:hover {
		color: #b64f4f;
		border-color: #b64f4f;
	}
}
a.edit-button {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 20px;
	border: 2px solid transparent;
	transition: 0.4s;
	text-align: center;

	&:hover {
		text-decoration: none;
		background: #fff;
		border: 2px solid;
	}
}
.edit-button {
	background: #8080d2;
	color: #fff;

	&:hover {
		color: #8080d2;
		border-color: #8080d2;
	}
}
