.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        align-items: flex-end;

        a {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 200px;
            flex-basis: 10%;
            flex-grow: 1;
        }
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }
}
