.user-page-wrapper {
    display: flex;
    flex-basis: 50%;

    article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;

        & > div > a {
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }

    label {
        &::before {
            margin-top: 50px;
        }
    }

    div > label img {
        border-radius: 50%;
        margin: auto;
        display: block;
        cursor: pointer;
    }

    img {
        width: 100px;
    }
}
