.user-page-wrapper {
    display: flex;
    flex-basis: 50%;

    article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;

        & > div {
            display: flex;
            align-items: cen;
        }
    }

    label {
        &::before {
            margin-top: 50px;
        }
    }

    img {
        border-radius: 50%;
        width: 100px;
    }
}
