.aside-wrapper {
    position: absolute;
    padding: 20px;
    width: 300px;
    border: 2px solid #8080d2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    section,
    article {
        width: auto;
        padding-left: 30px;
    }

    section.aside-filter-by {
        width: auto;
        gap: 10px;
        flex-direction: column;
    }
}
