.product-details {
    display: flex;
    justify-content: space-evenly;
    width: 1500px;

    article {
        padding: 0 20px;
    }

    strong,
    p {
        padding: 20px 0;
    }

    button {
        background: rgb(182, 79, 79);
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        font-size: 20px;
    }
}
