.product-details {
    display: flex;
    justify-content: space-evenly;
    width: 1500px;

    article {
        width: 50%;
        padding: 0 20px;
    }

    & > div {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        gap: 20px;

        div {
            display: flex;
            gap: 20px;
        }
    }

    img {
        width: 100%;
    }

    button,
    a {
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        border: 2px solid transparent;
        transition: 0.4s;

        &:hover {
            text-decoration: none;
            background: #fff;
            border: 2px solid;
        }
    }

    a {
        flex-grow: 0;
        color: #8080d2;
    }

    .delete-button {
        background: #b64f4f;

        &:hover {
            color: #b64f4f;
            border-color: #b64f4f;
        }
    }
    .edit-button {
        background: #8080d2;
        color: #fff;

        &:hover {
            color: #8080d2;
            border-color: #8080d2;
        }
    }
    .buy-button {
        background: #4d963f;

        &:hover {
            color: #4d963f;
            border-color: #4d963f;
        }
    }

    .buy-unactive-button {
        background-color: grey;
        &:hover {
            color: grey;
            border-color: grey;
        }
    }
}
