.button {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--color-1);
  color: var(--color-4);
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
  font-family: inherit;

  &:hover {
    color: var(--color-1);
    background-color: var(--color-4);
    border-color: var(--color-1);
  }
}
