@import "../../../styles/variables.scss";

div.input-container {
  display: flex;
  flex-direction: column;

  label {
    font-family: inherit;
    font-size: 20px;
    color: $white-color;
    font-style: italic;
  }

  select,
  input,
  textarea {
    font-family: inherit;
    padding: 5px 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    border-radius: 0 0 0 10px;
    background-color: $secondary-color;
    color: $white-color;
    border: 1px hidden $primary-color;
    border-bottom: 1px solid $secondary-color;
    border-left: 1px solid $secondary-color;
    box-shadow: 0 0 0px 40rem $primary-color inset;

    transition: 0.4s;
    &:focus {
      color: $white-color;
      border-left-width: 5px;
      border-color: $white-color;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $white-color;
    -webkit-box-shadow: 0 0 0px 40rem $primary-color inset;
  }

  &.radio.type-radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px 10px;

    label {
      margin: 0;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      padding: 0;
    }

    input[type="radio"]:checked {
      background-color: $secondary-color;
    }
  }

  &.file.type-file {
    p {
      padding: 5px 0 15px;
      word-break: break-all;
    }
    input {
      display: none;
    }
    label {
      position: relative;

      &:hover {
        &::after {
          cursor: pointer;
          opacity: 0.6;
        }
      }

      &.hidden::after {
        display: none;
      }
      &::after {
        content: attr(title);
        display: block;
        bottom: 15px;
        border: 3px dashed;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 15px;
        margin: 10px 0 35px;
      }
    }
  }

  input::placeholder {
    color: $white-color;
  }

  input::-webkit-input-placeholder {
    color: $white-color;
  }
  input:focus::-webkit-input-placeholder {
    color: $white-color;
  }
}
