div.input-container {
	display: flex;
	flex-direction: column;

	label {
		font-family: inherit;
		font-size: 20px;
		color: #8080d2;
		font-style: italic;
	}

	select,
	input,
	textarea {
		font-family: inherit;
		padding: 5px 15px;
		box-sizing: border-box;
		border: none;
		outline: none;
		border-bottom: 2px solid #8080d2;
		color: #8080d2;
		font-size: 17px;
		transition: 0.4s;
		border-radius: 0;

		&:focus {
			background-color: #8080d2;
			color: #fff;
			border-radius: 25px;
			::-webkit-input-placeholder {
				color: #fff;
			}
		}
	}

	&.radio.type-radio {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: baseline;
		gap: 10px 10px;

		label {
			margin: 0;
		}

		input[type="radio"] {
			-webkit-appearance: none;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid #8080d2;
			padding: 0;
		}

		input[type="radio"]:checked {
			background-color: #8080d2;
		}
	}

	&.file.type-file {
		input {
			display: none;
		}
		label {
			position: relative;
			padding-bottom: 150px;

			&::before {
				position: absolute;
				content: "Click here to choose file or Drag and drop your file here";
				display: block;
				bottom: 30px;
				border: 3px dashed;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 15px;
			}
		}
	}

	input::placeholder {
		color: #8080d2;
	}

	input::-webkit-input-placeholder {
		color: #8080d2;
	}
	input:focus::-webkit-input-placeholder {
		color: #fff;
	}
}
