.header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -15px 28px;

	nav {
		display: flex;
		justify-content: flex-end;
		padding: 30px;
		flex-basis: 90%;
		flex-shrink: 1;
		flex-grow: 5;
		flex-wrap: wrap;
	}

	& > div {
		flex-basis: 49%;
		flex-grow: 1;
		flex-shrink: 1;
		text-align: center;
	}

	a {
		margin: 0 10px;
		img {
			width: 50px;
			border-radius: 50%;
		}
	}
}
