.header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -15px 28px;

	nav {
		display: flex;
		justify-content: center;
		padding: 30px;
	}

	a {
		margin: 0 10px;
	}
}
