.header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -15px 28px;

	nav {
		display: flex;
		justify-content: flex-end;
		padding: 30px;
		flex-basis: 75%;
		flex-grow: 5;
	}

	a.profile {
		flex-basis: 50%;
		flex-grow: 1;
		text-align: center;
	}

	a {
		margin: 0 10px;
	}
}
