.card-container {
  display: flex;
  flex-flow: column;

  .card-item {
    border-radius: 5px 5px 0 0;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 3px solid #fff;
    border-top: 0;
    border-radius: 0 0 5px 5px;
  }
}
