body {
	margin: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
	color: #8080d2;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
