@import "./variables.scss";

@mixin page-gradient($width, $height) {
  width: $width;
  height: $height;

  background: $primary-color;
  background: linear-gradient(to bottom right, $complementary-color, $primary-color);
}
