.brands-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    div {
        display: flex;
        gap: 50px;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
    }
}
